.titulo {
  color: #ff8c00;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.lista {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.opcion {
  background-color: #1a1a1a;
  color: #ff8c00;
  border: 1px solid #333;
  padding: 12px 18px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 8px;

  transition: all 0.2s ease-in-out;
}

.opcion:hover {
  background-color: #2a2a2a;
  transform: translateX(5px);
  border-left: 5px solid #ff8c00;
}

.activo {
  background-color: #ff8c00 !important;
  color: black !important;
  font-weight: bold;
  border-left: 5px solid black !important;
  transform: translateX(10px);
}
